.homepage {
  width: 60rem;
  /* border: 1px solid red; */
  box-shadow: inset 0rem 0rem 3rem #ececec22;
  border-radius: 2rem;
  margin: auto;
  padding: 3rem 7rem;
}
.homepage__title {
  font-family: "Merriweather", serif;
  font-size: 7rem;
  font-weight: 400;
  margin-bottom: 3rem;
}

.or {
  margin: 4rem 0 1rem;
  opacity: 0.7;
}

.homepage button {
  margin-top: 1rem;
  width: 15rem;
}
